{% extends 'AcmeIndexBundle::base.html.twig' %}
{% block body %}
    {% for post in posts %}
        <div class="post">
            <div class="post_header">
                {{ post.getTitle() }} by <div class="user_name">{{ post.getUser().getName() }}</div> in {{ post.getCreareDate() }}
            </div>
            {{ post.getShortPost() }}
             <a href="{{ path('_showPost', { 'id': post.getId }) }}"><br>Читать полностью</a>   
        </div>
    {% endfor  %}
{% endblock %}