{% extends 'AcmeIndexBundle::base.html.twig' %}
{% block body %}
    {% for post in posts %}
        <div class="post">
            <div class="post_header">
                <h1>{{ post.getTitle() }}</h1> <div class="user_name">by {{ post.getUser().getName() }} in {{ post.getCreareDate() }}</div>
            </div>
            <p>
            {{ post.getShortPost() }}
            </p>
             <a href="{{ path('_showPost', { 'id': post.getId }) }}"><br>Читать полностью</a>   
        </div>
    {% endfor  %}
{% endblock %}