{% extends 'AcmeIndexBundle::base.html.twig' %}
{% block body %}
    {% for post in posts %}
            <div class="post">
                <div class="post_header">
                 <h1>{{ post.getTitle() }}</h1> <div class="user_name">by {{ post.getUser().getName() }} in {{ post.getCreareDate() }}</div>            
                </div>
            {{ post.getPost() }}
             
             <br> 
             </div>
             Коментарии: <br>
             {% for comment in post.getComments %} 
             <div class="comments">
                <div class="comment_header">
                    {{ comment.getUser().getName() }} пишет:
                </div>
                <div class="comment_body">
                    {{ comment.getComment() }}
                </div>
             </div> 
             {% endfor %}
        
    {% endfor  %}
    
    <a href="{{ url('_start') }}">К списку постов</a>
{% endblock %}